#!/usr/bin/env bash

DIR=`pwd`
PATH="$DIR/.direnv/bin:$PATH"

set -e
cd $DIR

init() {
if [ ! -d $DIR/$1/node_modules ] ; then
  direnv allow
  if ! [ -x "$(command -v pnpm)" ]; then
    npm install -g pnpm 
  fi
  cd $DIR/$1
  pnpm i
  cd $DIR
fi
}

init .
